{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="50" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="10" cols="50"></textarea>
        <dd><input type="submit" value="Save">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li>
      <h2>{{ entry.title }}</h2>
      <div style="font-size:small">{{ entry.word_count }} words</div>
      <a href={{ url_for('show_entry', note_id=entry.id) }} style="float:right">Edit</a>
      <p class="timestr"
         style="font-size:0.8em"
         value="{{ entry.created }}">
      </p>
      {{ entry.text}}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
